.custom-carousel .slick-dots {
  position: absolute;
  bottom: 0;
  z-index: 15;
  display: flex !important;
  justify-content: center;
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
}

.custom-carousel .slick-dots.slick-dots-top {
  top: 32px; 
  bottom: auto;
  flex-direction: row;
}

.custom-carousel .slick-dots.slick-dots-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  flex-direction: column;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.custom-carousel .slick-dots.slick-dots-bottom {
  bottom: 32px; 
  flex-direction: row;
}

.custom-carousel .slick-dots li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  box-sizing: content-box;
  padding: 0;
  text-align: center;
  text-indent: 0;
  vertical-align: top;
  transition: all 0.3s ease;
  border-radius: 12px;
  overflow: visible;
  margin-block: 8px;
}


.custom-carousel .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(172, 50, 130, 0.1); 
  border: 2px solid #AC3282;
  opacity: 1;
  transition: all 0.3s ease;
  padding: 0;
  outline: none;
  cursor: pointer;
  display: block;
}

.custom-carousel .slick-dots li {
  padding: 0;
  overflow: visible;
}

.custom-carousel .slick-dots li.slick-active button {
  background-color: #AC3282;
  border-color: #AC3282;
  opacity: 1;
}

.custom-carousel .slick-dots li::after,
.custom-carousel .slick-dots li button::after {
  content: none !important;
  display: none !important;
}

.custom-carousel .slick-dots li.slick-active::after {
  transform: translate3d(0, 0, 0);
}

:where(.css-dev-only-do-not-override-mc1tut).ant-carousel-vertical .slick-dots li.slick-active button{
  width: 10px;
  height: 10px;
}

:where(.css-dev-only-do-not-override-mc1tut).ant-carousel-vertical .slick-dots li.slick-active{
  width: 10px;
}