/* Selected item - keep your color */
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected::after,
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  border-bottom-color: transparent;
  color: #590140
}

/* Hover item - also add pink bottom border on hover */
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item:hover::after,
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item:hover::after,
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu:hover::after,
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu:hover::after {
  border-bottom-color: transparent;
  color: #590140
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.desktop-menu {
  display: flex;
}

.mobile-menu {
  display: none;
}

.mobile-menu button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

/* On small screens, show hamburger instead */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }
}
